<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Dashboard</a>
    <h2>Your Achievements</h2>
    <div class="jumbotron">
        <div class="container">
            <h1>Points</h1>


        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Badges</h1>

            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <p style="text-align: center">Maths</p>
                    <div round-progress max="100" current="mathsBadgeProgress" color="#3ca2e0" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="true"
                         responsive="true" duration="800" animation="easeInOutQuart"></div>
                </div>

                <div class="col-lg-2 col-md-2">
                    <p style="text-align: center">English</p>
                    <div round-progress max="100" current="englishBadgeProgress" color="#3ca2e0" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="true"
                         responsive="true" duration="800" animation="easeInOutQuart"></div>
                </div>


                <div class="col-lg-2 col-md-2">
                    <p style="text-align: center">Maltese</p>
                    <div round-progress max="100" current="malteseBadgeProgress" color="#3ca2e0" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="true"
                         responsive="true" duration="800" animation="easeInOutQuart"></div>
                </div>

                <div class="col-lg-2 col-md-2">
                    <p style="text-align: center">Science</p>
                    <div round-progress max="100" current="scienceBadgeProgress" color="#3ca2e0" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="true"
                         responsive="true" duration="800" animation="easeInOutQuart" style="background-image: url('images/flat-avatar.png'); background-size: contain"></div>
                </div>

                <div class="col-lg-2 col-md-2">
                    <p style="text-align: center">ICT</p>
                    <div round-progress max="100" current="ictBadgeProgress" color="#3ca2e0" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="true"
                         responsive="true" duration="800" animation="easeInOutQuart"></div>
                </div>

                <div class="col-lg-2 col-md-2">
                    <p style="text-align: center">Geography</p>
                    <div round-progress max="100" current="geographyBadgeProgress" color="#3ca2e0" bgcolor="#eaeaea" radius="100" stroke="20" semi="false" rounded="true" clockwise="true"
                         responsive="true" duration="800" animation="easeInOutQuart"></div>
                </div>
            </div>

        </div>


    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Rewards</h1>
        </div>
    </div>

</div>
