<div ng-controller="YearCtrl">
    <h2>Grade {{selectedYear}}</h2>
    <div id="jumbatron-home" class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>

            <div class="jumbatron" style="background-color: transparent;">
                <div class="col-lg-4 col-md-4">
                    <div class="alert alert-info">
                        <div ng-app="yapp" ng-controller="TodoCtrl">
                            <h3>Total todos: {{ getTotalTodos() }}</h3>
                            <ul class="unstyled">
                                <li ng-repeat="todo in todos">
                                    <input type="checkbox" ng-model="todo.done"> <span class="completed-{{todo.done}}">{{todo.task}}</span> <i class="fa fa-trash" ng-click="removeTask($index)"></i>
                                </li>
                            </ul>
                            <form class="form-horizontal">
                                <input ng-model="newTaskText" placeholder="new todo"> <i class="fa fa-plus" ng-click="addTodo()"></i>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-warning">
                        <simple-calendar events="events" options="calendarOptions"></simple-calendar>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="alert alert-info">
                        <h3>12th May, 2016</h3>
                        <p>You have no events on this day!</p>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
</div>
