<div ng-controller="YearCtrl">
    <h2>Grade {{selectedYear}}</h2>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a></h1>

            <div class = "progress progress-striped active">
                <div class = "progress-bar progress-bar-success" role = "progressbar"
                     aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width: 40%;">

                    <span class = "sr-only">40% Complete</span>
                </div>
            </div>

            <div class="alert alert-success">
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>

            <div class="fc fc-ltr ui-widget" data-full-calendar="" id="calendar-widget">
                <div class="fc-toolbar">
                    <div class="fc-left"></div>
                    <div class="fc-right"></div>
                    <div class="fc-center">
                        <button class=
                                    "fc-prev-button ui-button ui-state-default ui-corner-left ui-corner-right"
                                type="button"><span class=
                                                        "ui-icon ui-icon-circle-triangle-w"></span></button>
                        <h2>June 2014</h2><button class=
                                                      "fc-next-button ui-button ui-state-default ui-corner-left ui-corner-right"
                                                  type="button"><span class=
                                                                          "ui-icon ui-icon-circle-triangle-e"></span></button>
                    </div>
                    <div class="fc-clear"></div>
                </div>
                <div class="fc-view-container" style="">
                    <div class="fc-view fc-month-view fc-basic-view">
                        <table>
                            <thead class="fc-head">
                            <tr>
                                <td class="ui-widget-header">
                                    <div class="fc-row ui-widget-header">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th class="fc-day-header ui-widget-header fc-sun">
                                                    Sun</th>
                                                <th class="fc-day-header ui-widget-header fc-mon">
                                                    Mon</th>
                                                <th class="fc-day-header ui-widget-header fc-tue">
                                                    Tue</th>
                                                <th class="fc-day-header ui-widget-header fc-wed">
                                                    Wed</th>
                                                <th class="fc-day-header ui-widget-header fc-thu">
                                                    Thu</th>
                                                <th class="fc-day-header ui-widget-header fc-fri">
                                                    Fri</th>
                                                <th class="fc-day-header ui-widget-header fc-sat">
                                                    Sat</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                            <tbody class="fc-body">
                            <tr>
                                <td class="ui-widget-content">
                                    <div class="fc-day-grid-container">
                                        <div class="fc-day-grid">
                                            <div class="fc-row fc-week ui-widget-content">
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sun fc-past"
                                                                data-date="2014-06-01"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-mon fc-past"
                                                                data-date="2014-06-02"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-tue fc-past"
                                                                data-date="2014-06-03"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-wed fc-past"
                                                                data-date="2014-06-04"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-thu fc-past"
                                                                data-date="2014-06-05"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-fri fc-past"
                                                                data-date="2014-06-06"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sat fc-past"
                                                                data-date="2014-06-07"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <td class="fc-day-number fc-sun fc-past"
                                                                data-date="2014-06-01">1</td>
                                                            <td class="fc-day-number fc-mon fc-past"
                                                                data-date="2014-06-02">2</td>
                                                            <td class="fc-day-number fc-tue fc-past"
                                                                data-date="2014-06-03">3</td>
                                                            <td class="fc-day-number fc-wed fc-past"
                                                                data-date="2014-06-04">4</td>
                                                            <td class="fc-day-number fc-thu fc-past"
                                                                data-date="2014-06-05">5</td>
                                                            <td class="fc-day-number fc-fri fc-past"
                                                                data-date="2014-06-06">6</td>
                                                            <td class="fc-day-number fc-sat fc-past"
                                                                data-date="2014-06-07">7</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-cyan fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">All Day</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-not-end bgm-orange fc-draggable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Long Event</span>
                                                                    </div></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="fc-row fc-week ui-widget-content">
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sun fc-past"
                                                                data-date="2014-06-08"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-mon fc-past"
                                                                data-date="2014-06-09"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-tue fc-past"
                                                                data-date="2014-06-10"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-wed fc-past"
                                                                data-date="2014-06-11"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-thu fc-past"
                                                                data-date="2014-06-12"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-fri fc-past"
                                                                data-date="2014-06-13"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sat fc-past"
                                                                data-date="2014-06-14"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <td class="fc-day-number fc-sun fc-past"
                                                                data-date="2014-06-08">8</td>
                                                            <td class="fc-day-number fc-mon fc-past"
                                                                data-date="2014-06-09">9</td>
                                                            <td class="fc-day-number fc-tue fc-past"
                                                                data-date="2014-06-10">10</td>
                                                            <td class="fc-day-number fc-wed fc-past"
                                                                data-date="2014-06-11">11</td>
                                                            <td class="fc-day-number fc-thu fc-past"
                                                                data-date="2014-06-12">12</td>
                                                            <td class="fc-day-number fc-fri fc-past"
                                                                data-date="2014-06-13">13</td>
                                                            <td class="fc-day-number fc-sat fc-past"
                                                                data-date="2014-06-14">14</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td class="fc-event-container" colspan="2">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-not-start fc-end bgm-orange fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Long Event</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                            <td rowspan="2"></td>
                                                            <td rowspan="2"></td>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-gray fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Lunch</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                            <td class="fc-event-container" rowspan="2">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-pink fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Birthday</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                            <td rowspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-lightgreen fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Repeat</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-teal fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Meet</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="fc-row fc-week ui-widget-content">
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sun fc-past"
                                                                data-date="2014-06-15"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-mon fc-past"
                                                                data-date="2014-06-16"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-tue fc-past"
                                                                data-date="2014-06-17"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-wed fc-past"
                                                                data-date="2014-06-18"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-thu fc-past"
                                                                data-date="2014-06-19"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-fri fc-past"
                                                                data-date="2014-06-20"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sat fc-past"
                                                                data-date="2014-06-21"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <td class="fc-day-number fc-sun fc-past"
                                                                data-date="2014-06-15">15</td>
                                                            <td class="fc-day-number fc-mon fc-past"
                                                                data-date="2014-06-16">16</td>
                                                            <td class="fc-day-number fc-tue fc-past"
                                                                data-date="2014-06-17">17</td>
                                                            <td class="fc-day-number fc-wed fc-past"
                                                                data-date="2014-06-18">18</td>
                                                            <td class="fc-day-number fc-thu fc-past"
                                                                data-date="2014-06-19">19</td>
                                                            <td class="fc-day-number fc-fri fc-past"
                                                                data-date="2014-06-20">20</td>
                                                            <td class="fc-day-number fc-sat fc-past"
                                                                data-date="2014-06-21">21</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-blue fc-draggable fc-resizable">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Repeat</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="fc-row fc-week ui-widget-content">
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sun fc-past"
                                                                data-date="2014-06-22"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-mon fc-past"
                                                                data-date="2014-06-23"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-tue fc-past"
                                                                data-date="2014-06-24"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-wed fc-past"
                                                                data-date="2014-06-25"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-thu fc-past"
                                                                data-date="2014-06-26"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-fri fc-past"
                                                                data-date="2014-06-27"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sat fc-past"
                                                                data-date="2014-06-28"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <td class="fc-day-number fc-sun fc-past"
                                                                data-date="2014-06-22">22</td>
                                                            <td class="fc-day-number fc-mon fc-past"
                                                                data-date="2014-06-23">23</td>
                                                            <td class="fc-day-number fc-tue fc-past"
                                                                data-date="2014-06-24">24</td>
                                                            <td class="fc-day-number fc-wed fc-past"
                                                                data-date="2014-06-25">25</td>
                                                            <td class="fc-day-number fc-thu fc-past"
                                                                data-date="2014-06-26">26</td>
                                                            <td class="fc-day-number fc-fri fc-past"
                                                                data-date="2014-06-27">27</td>
                                                            <td class="fc-day-number fc-sat fc-past"
                                                                data-date="2014-06-28">28</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="fc-event-container">
                                                                <a class=
                                                                       "fc-day-grid-event fc-h-event fc-event fc-start fc-end bgm-bluegray fc-draggable fc-resizable"
                                                                   href="http://google.com/">
                                                                    <div class="fc-content">
                                                                        <span class="fc-title">Google</span>
                                                                    </div>
                                                                    <div class="fc-resizer fc-end-resizer">
                                                                    </div></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="fc-row fc-week ui-widget-content">
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sun fc-past"
                                                                data-date="2014-06-29"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-mon fc-past"
                                                                data-date="2014-06-30"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-tue fc-other-month fc-past"
                                                                data-date="2014-07-01"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-wed fc-other-month fc-past"
                                                                data-date="2014-07-02"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-thu fc-other-month fc-past"
                                                                data-date="2014-07-03"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-fri fc-other-month fc-past"
                                                                data-date="2014-07-04"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sat fc-other-month fc-past"
                                                                data-date="2014-07-05"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <td class="fc-day-number fc-sun fc-past"
                                                                data-date="2014-06-29">29</td>
                                                            <td class="fc-day-number fc-mon fc-past"
                                                                data-date="2014-06-30">30</td>
                                                            <td class=
                                                                    "fc-day-number fc-tue fc-other-month fc-past"
                                                                data-date="2014-07-01">1</td>
                                                            <td class=
                                                                    "fc-day-number fc-wed fc-other-month fc-past"
                                                                data-date="2014-07-02">2</td>
                                                            <td class=
                                                                    "fc-day-number fc-thu fc-other-month fc-past"
                                                                data-date="2014-07-03">3</td>
                                                            <td class=
                                                                    "fc-day-number fc-fri fc-other-month fc-past"
                                                                data-date="2014-07-04">4</td>
                                                            <td class=
                                                                    "fc-day-number fc-sat fc-other-month fc-past"
                                                                data-date="2014-07-05">5</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="fc-row fc-week ui-widget-content">
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sun fc-other-month fc-past"
                                                                data-date="2014-07-06"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-mon fc-other-month fc-past"
                                                                data-date="2014-07-07"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-tue fc-other-month fc-past"
                                                                data-date="2014-07-08"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-wed fc-other-month fc-past"
                                                                data-date="2014-07-09"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-thu fc-other-month fc-past"
                                                                data-date="2014-07-10"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-fri fc-other-month fc-past"
                                                                data-date="2014-07-11"></td>
                                                            <td class=
                                                                    "fc-day ui-widget-content fc-sat fc-other-month fc-past"
                                                                data-date="2014-07-12"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <td class=
                                                                    "fc-day-number fc-sun fc-other-month fc-past"
                                                                data-date="2014-07-06">6</td>
                                                            <td class=
                                                                    "fc-day-number fc-mon fc-other-month fc-past"
                                                                data-date="2014-07-07">7</td>
                                                            <td class=
                                                                    "fc-day-number fc-tue fc-other-month fc-past"
                                                                data-date="2014-07-08">8</td>
                                                            <td class=
                                                                    "fc-day-number fc-wed fc-other-month fc-past"
                                                                data-date="2014-07-09">9</td>
                                                            <td class=
                                                                    "fc-day-number fc-thu fc-other-month fc-past"
                                                                data-date="2014-07-10">10</td>
                                                            <td class=
                                                                    "fc-day-number fc-fri fc-other-month fc-past"
                                                                data-date="2014-07-11">11</td>
                                                            <td class=
                                                                    "fc-day-number fc-sat fc-other-month fc-past"
                                                                data-date="2014-07-12">12</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>







        </div>


    </div>
</div>
