<!--<div ng-include={{address}}></div>-->
<div>
    <a ui-sref="subjects" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Subjects</a>
    <h2>{{topicName}} <small>Good luck with the activity, resources can be found in the activity</small></h2>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <iframe src={{address}} height="700" width="100%" allowfullscreen="" frameborder="0"></iframe>
        </div>


    </div>
    <div id="demo"> sdfsfskdfgsdufkbdsjhkbv</div>

</div>
