<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Dashboard</a>
    <h2>Select a Year</h2>
    <div class="panel panel-default">
        <div class="container panel-primary">
            <h1>Grade 4  <a class="btn btn-primary btn-lg btn-outline btn-rounded">Select</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="container">
            <h1>Grade 5 <a class="btn btn-primary btn-lg btn-outline btn-rounded">Select</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="container">
            <h1>Grade 6  <a class="btn btn-primary btn-lg btn-outline btn-rounded">Select</a></h1>
        </div>
    </div>

</div>
