<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Dashboard</a>
    <h2>Your Achievements</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Maths</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">Addition</div>
            <div class="panel-body">Subtraction</div>
        </div>
        <!--<div class="container">-->
            <!--<h1>Maths</h1>-->
            <!--<p>-->
                <!--<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>-->
            <!--</p>-->
        <!--</div>-->
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Badges</h1>
            <p>You can use C3.js or Chart.js</p>
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Rewards</h1>
            <p>You can use C3.js or Chart.js</p>
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>

</div>
