<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">Hi! <small>Age</small></h2>
        <img src="images/flat-avatar.png" class="user-avatar" /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('home1')}"><a ui-sref="home1">Home<span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('subjects')}"><a ui-sref="subjects">Subjects</a></li>
        <li ng-class="{active: $state.includes('year')}"><a ui-sref="year">Change Year</a></li>
        <li ng-class="{active: $state.includes('achievements')}"><a ui-sref="achievements">Achievements</a></li>
        <li ng-class="{active: $state.includes('calendar')}"><a ui-sref="calendar">Calendar</a></li>
        <li ng-class="{active: $state.includes('settings')}"><a ui-sref="settings">Settings</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>
